<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liusiyang.question.dao.ChapterQuestionMapper">
	<resultMap id="chapterResultMap" type="com.liusiyang.question.entity.ChapterQuestion">
		<id column="chapter_id" jdbcType="INTEGER" property="chapterId" />
		<result column="chapter_content" jdbcType="VARCHAR" property="chapterContent" />

	</resultMap>
	<!-- 根據章節 -->
	<insert id="insert" parameterType="com.liusiyang.question.entity.ChapterQuestion">
		insert into t_chapter_question
		(chapter_content
		)
		values
		(#{chapterContent,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 通过关键字分页查询, 返回数据集 -->
	<select id="selectAll" resultMap="chapterResultMap">
		select * from
		t_chapter_question
	</select>

	<update id="update" parameterType="com.liusiyang.question.entity.ChapterQuestion">
		insert into t_chapter_question
		(chapter_content
		)
		values
		(#{chapterContent,jdbcType=VARCHAR}
		)
	</update>

	<!-- 通过关键字分页查询, 返回数据集 -->
	<select id="selectPageList" parameterType="page" resultMap="chapterResultMap">
		select * from t_chapter_question
		limit
		#{start},#{rows}
	</select>


	<select id="selectChapter" parameterType="java.lang.String"
		resultMap="chapterResultMap">
		select * from t_chapter_question
		where chapter_content like
		(#{chapterContent,jdbcType=VARCHAR})
	</select>

	<!-- 通过多条件分页查询，返回数据集 -->
	<select id="selectPageListUseDyc" parameterType="page"
		resultMap="supplierResultMap">
		select * from t_chapter_question
		
		limit #{start},#{rows}
	</select>

	<!-- 通过多条件分页查询，返回总记录数 -->
	<select id="selectPageCountUseDyc" parameterType="page"
		resultType="Integer">
		select count(1) from t_chapter_question
		
	</select>

</mapper>