<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liusiyang.question.dao.LevelQuestionMapper">
	<resultMap id="BaseResultMap" type="com.liusiyang.question.entity.LevelQuestion">
		<id column="level_id" jdbcType="INTEGER" property="levelId" />
		<result column="level_content" jdbcType="VARCHAR" property="levelContent" />
	</resultMap>
	
</mapper>