<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liusiyang.question.dao.EmphasisQuestionMapper">
	<resultMap id="emphasisResultMap"
		type="com.liusiyang.question.entity.EmphasisQuestion">
		<id column="emphasis_id" jdbcType="INTEGER" property="emphasisId" />
		<result column="emphasis_content" jdbcType="VARCHAR" property="emphasisContent" />
	</resultMap>
	<!-- 根据考点 -->
	<insert id="insert" parameterType="com.liusiyang.question.entity.EmphasisQuestion">
		insert into
		t_emphasis_question
		(emphasis_content
		)
		values
		(#{emphasisContent,jdbcType=VARCHAR} )
	</insert>
	<update id="update" parameterType="com.liusiyang.question.entity.EmphasisQuestion">
		insert into
		t_emphasis_question
		(emphasis_content
		)
		values
		(#{emphasisContent,jdbcType=VARCHAR}
		)
	</update>

	<!-- 通过关键字分页查询, 返回数据集 -->
	<select id="selectAll" resultMap="emphasisResultMap">
		select * from
		t_emphasis_question
	</select>

	<!-- 通过关键字分页查询, 返回数据集 -->
	<select id="selectPageList" parameterType="page" resultMap="emphasisResultMap">
		select * from t_emphasis_question
		limit
		#{start},#{rows}
	</select>
	<!-- 通过多条件分页查询，返回总记录数 -->
	<select id="selectPageCount" parameterType="page" resultType="Integer">
		select count(1) from t_emphasis_question
	</select>

	<!-- 通过关键字分页查询, 返回数据集 -->
	<select id="selectEmphasis" parameterType="Integer" resultMap="emphasisResultMap">
		select * from t_emphasis_question
	</select>

	<select id="getEmphasisQuestion" parameterType="String"
		resultMap="emphasisResultMap">
		select * from t_emphasis_question where emphasis_content
		like (#{emphasisContent,jdbcType=VARCHAR} )
	</select>


</mapper>