<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liusiyang.question.dao.EmphasisTypeMapper">
	<resultMap id="emphasisTypeResultMap" type="com.liusiyang.question.entity.EmphasisType">
		<id column="emphasis_type_id" jdbcType="INTEGER" property="emphasisTypeId" />
		<result column="emphasis_type_text" jdbcType="VARCHAR"
			property="emphasisTypeText" />
	</resultMap>
	<!-- 根据考点 -->
	<insert id="insert" parameterType="com.liusiyang.question.entity.EmphasisType">
		insert into t_emphasis_type
		(
		emphasis_type_text
		)
		values
		(
		#{emphasisTypeText,jdbcType=VARCHAR}
		)
	</insert>
	<update id="update" parameterType="com.liusiyang.question.entity.EmphasisType">
		insert into t_emphasis_type
		(
		emphasis_type_text
		)
		values
		(
		#{emphasisTypeText,jdbcType=VARCHAR}
		)
	</update>

	<!-- 通过关键字分页查询, 返回数据集 -->
	<select id="getAll" resultMap="emphasisTypeResultMap">
		select * from t_emphasis_type
	</select>

</mapper>